trttr
<table id="rankings" class="table table-hover">

<!--Table head-->
  <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Total Points</th>
        <th>Username</th>
        <th>Attempts</th>
    </tr>
  </thead>

<tbody>
    <tr>
      <th scope="row">1</th>
      <td>$user.getName()</td>
      <td>$user.getHonor()</td>
      <td>@$user.getUsername()</td>
      <td>$user.getClan()</td>
    </tr>
</tbody>
</table>