<table id="rankings" class="table table-hover">

<!--Table head-->
  <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Total Points</th>
        <th>Username</th>
        <th>Attempts</th>
    </tr>
  </thead>

<tbody>
#foreach ($user in $users)
    <tr>
      <td scope="row">$foreach.count</td>
      <td>$user.getName()</td>
      <td>$user.getHonor()</td>
      <td>@$user.getUsername()</td>
      <td>$user.getClan()</td>
    </tr>
#end
</tbody>
</table>