<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Moringa Ranking</title>

<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/mdb.min.css" rel="stylesheet">
<link href="/app.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/mdb.min.js"></script>
  </head>
  <body>

<br><br>
    <div class="container-flex">

      #parse( $template )

    </div>
  </body>

</html>